 * {
    font-family: sans-serif;
    color: #333333;
 }

 h2 {
     margin-left: 200px;
     font-size: 36px;
 }

 .sectionBreak {
    margin-top: 50px;
 }

 #salaryFilter,
 #fSalaryFilter {
    position: relative;
    left: 200px;
    top: 20px;
}

#sortFilter {
    padding-top: 10px;
}

#notes {
    margin-left: 40px;
    color: #666666;
    font-size: 14px;
}

.label {
    font-weight: bold;
    font-size: 18px;

}

.xgrid line {
  stroke: lightgrey;
  stroke-opacity: 0.8;
  shape-rendering: crispEdges;
}

.xgrid path {
  stroke-width: 0;
}

.ygrid line {
  stroke: lightgrey;
  stroke-opacity: 0.8;
  shape-rendering: crispEdges;
  stroke-dasharray: 5;
}

.ygrid path {
  stroke-width: 0;
}

div.tooltip {
      position: absolute;
      text-align: center;
      padding: 5px;
      font-size: 12px;	
      font-weight: bold;	
      color: white;		
      border-radius: 4px;
      pointer-events: none;	
    }

    .fSalaryLegendLabel {
      font-size: 12px;

    }