 * {
    font-family: sans-serif;
    color: #333333;
 }

 h1 {
  margin-left: 200px;
  font-size: 96px;
  color: #e8505b;
 }

 h2 {
     margin-left: 200px;
     margin-bottom: 0;
     font-size: 32px;
     color:
#17a596;
 }
 body{
  background-color:
#f1f1f1;
 }

 h3 {
     margin-left: 300px;
 }

span {
    margin-left: 300px;
}
 .sectionBreak {
    margin-top: 50px;
 }
 .fullwidth {
  width: 1400vw;
  position: relative;
  max-width: 1000px;
  margin-left: 200px;
  margin-right: 10vw;
}
 .chart{
  width: 1400vw;
  position: relative;
  max-width: 1000px;
  margin-left: 200px;
  margin-right: 10vw;
}
 .chart4{
  width: 1400vw;
  position: relative;
  max-width: 1000px;
  margin-left: 200px;
  margin-right: 10vw;
}
#pjfam1,
#academicVis,
#industryVis,
#weekVis {
  margin-top: 50px;
  margin-left: 200px;
  height: 700px;
  width: 1400px;
}

#raceVis,
#race2Vis
{
  margin-top: 50px;
  margin-left: 200px;
  height: 380px;
  width: 1400px;
}

 #genderCountFilter,
 #salaryFilter,
 #fSalaryFilter {
    position: relative;
    left: 200px;
    top: 20px;
}


#salaryRadio {
  padding-bottom: 10px;
}

#sortFilter,
#plotFilter {
    padding-top: 10px;
}

.notes {
    margin-left: 200px;
    color: #666666;
    font-size: 14px;
    font-style: italic;
}
.text {
    margin-left: 300px;
    font-size: 18px;
    text-align: left;
    text-indent: 50px;
    line-height: 150%;
}
.small {
    margin-left: 300px;
    color: #666666;
    font-size: 14px;
    font-style: italic;
}

.label {
    font-weight: bold;
    font-size: 18px;

}

.xgrid line {
  stroke: lightgrey;
  stroke-opacity: 0.8;
  shape-rendering: crispEdges;
}

.xgrid path {
  stroke-width: 0;
}

.ygrid line {
  stroke: lightgrey;
  stroke-opacity: 0.8;
  shape-rendering: crispEdges;
  stroke-dasharray: 5;
}

.ygrid path {
  stroke-width: 0;
}

div.tooltip {
      position: absolute;
      text-align: center;
      padding: 5px;
      font-size: 12px;	
      font-weight: bold;	
      color: white;		
      border-radius: 4px;
      pointer-events: none;	
    }

    .fSalaryLegendLabel {
      font-size: 12px;

    }